body {
    background-color: #e5e1e1;
    background-image: url("white.png");
    background-opacity: .95
}

h1 {
   color: #36C;
   font-weight: normal;
   letter-spacing: .4em;
   margin-bottom: 1em;
   text-transform: lowercase;
}